#banner {
  margin-top: -10px;
  margin-left: -8px;
}


.navigation {
  position: relative;
  margin-top: -40%;
  float: right;

}

.navigation a {
  text-decoration: none;
  color: white;
}

#home {
  margin-right: 1000px;

}

#text {

  position: relative;
  margin-top: -340px;
  font-size: 40px;
  font-weight: bold;
  color: white;

}

p {
  font-size: 20px;
  color: white;
}

#button {
  color: rgb(73, 107, 126);
  width: 270px;
  height: 40px;
  border-radius: 4px;
  background-color: rgb(249, 249, 249);
}

#calendar {
  margin-top: 250px;
  margin-left: 160px;
}

#quick {
  color: rgb(92, 92, 92);
  margin-left: 200px;
}

#create {
  color: rgb(92, 92, 92);
  margin-left: 100px;
}

#mail {
  margin-left: 280px;
  margin-top: -200px;
}

#payments {
  margin-left: 300px;
}

#simple {
  color: rgb(140, 139, 135);
}

#bla {
  color: rgb(140, 139, 135);
}

h1 {
  font-size: 80px;
  margin-right: 120px;
  color: rgb(101, 72, 131);
}

#lorem {
  text-align: center;
  color: rgb(110, 111, 108);
  margin-top: -115px;
  margin-left: 500px;
}

#title {

  font-size: 60px;
  text-align: center;
  margin-left: 400px;
}

.bande_horizontale {

  padding: 0px;
  margin: 0px;
  border-color: rgb(83, 83, 81);
  width: 110%;
  margin-left: -9px;
  height: 100px;
  background-color: rgb(83, 83, 81);

}

#bande {
  margin-top: 60px;
}

#welcome {
  margin-top: 80px;
  margin-left: 60px;

}

#img {
  margin-top: 31px;
  width: 52%;
  background-color: rgb(25, 119, 149);
}

#heart {
  margin-top: 28%;
  margin-left: 7%;
}

#heart1 {

  margin-left: 50%;
  margin-top: 51.7%;
  width: 52%;
  background-color: rgb(81, 70, 135);
}

.last {
  margin-top: 31px;
  width: 52%;
  background-color: rgb(25, 119, 149);
  margin-left: -8px;
  margin-top: -0px;
}

#invoices {
  margin-left: 30px;
}

#end {
  text-align: center;
  color: rgb(98, 98, 101);
}

#create {
  height: 40px;
  width: 20%;
  background-color: rgb(2, 140, 107);
  border-color: rgb(2, 140, 107);
  color: white;
}

footer {
  margin-bottom: 0%;
  margin-top: 18%;;
  font-size: 15px;
  color: rgb(229, 229, 233);
  background-color: rgb(12, 16, 17);
  padding: 25px;
  /*position: sticky;*/
  bottom:0;
  left:0;
  width: 100%;
  margin-left: -8px;
}
#foot {
  margin-top: -12%;
}

#blabla {
  margin-left: 50px;
}
